/* DEBUG ITEMS */
.bBlue {
    border: 3px solid blue;
}
.bYell {
    border: 3px solid yellow;
}
.bRed {
    border: 3px solid red;
}

/* CSS RESET */
/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'], ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img, picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
    *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* MAIN ITEMS */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80vw;
}
html, body {
  height: 100%;
  
}
.tanBack {
  background-color: #f0eeeb;
}
#mainCont {
  max-width: 90vw;
  align-self: center;
}
html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
ul {
    list-style-type: none;
}
#headCont {
  width: 100vw;
}
/* Launch Banner */
#topBanner {
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding: 10px;
    width: 100vw;
}
#spacer {
  height: 20px;
  width: auto;
  background-color: #f0eeeb;

}
/* Navigation */
#navMidLinks {
    display: flex;
    
    list-style: none;
    margin: auto;
    flex-wrap: wrap;
    width: 30vw;
}
#navMidLinks li a {
text-decoration: none;
color: black;
padding: 20px;
}
#navBrand {
    font-weight: bold; 
    font-size: 1em;
    width: 25vw;
}
#navBrand a {
    padding-left: 0px;
}
.navItem {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}
#navLinks {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
#navLinks li a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
#navLinks li a#fontColor {
  color: white;
}
#navRight {
  display: flex;
  flex-direction: row;
  width: 25vw;

}
#navButton {
    background-color: black;
    height: auto;
    width: auto;
    padding: -10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
#navButton a {
  color: white;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  }


/* Hero Section */
#heroItems {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
}
#heroCont {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: space-between;
}
#heroLeft {
  width: 50vw;
  padding: 70px;

}
#heroRight{
  padding: 20px 0px;
  width: 50vw;

}
#heroRight img {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#checkCont {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}
.checkItems {
  display: flex;
  padding-top: 10px;
  
}
.checkMarks {
  padding-right: 1em;
}
#formCont {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  border: 3px dotted black;
}
.formItem {
  display: flex;
  width: auto;
  
}
.formButton {
  background-color: black;
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}
.formButton a {
color: white;
text-decoration: none;
}
#emailCont {
  height: 100%;
  border: 3px solid green;
  
}
#email {
  padding: 10px;
  border-radius: 5%;
  text-align: center;
}
#buttonCont {
  padding-left: 1em;
  height: auto;
}

/* Social Links */
.socialLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.socialLogo {
  width: 150px;
  padding: 10px;
}

/* Escrow Section */

#escrowItems {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
#escrowCont {
display: flex;
width: 85vw;
margin: 0 auto;
justify-content: space-between;
}
#escrowLeft {
width: 50vw;
padding: 70px;

}
#escrowRight{
padding: 20px 0px;
width: 50vw;

}
#escrowRight img {
width: 30vw;
margin-left: auto;
margin-right: auto;
display: block;
}

/* Text Editor Section */

#tEditorItems {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
#tEditorCont {
display: flex;
width: 85vw;
margin: 0 auto;
justify-content: space-between;
}
#tEditorRight {
width: 50vw;
padding: 70px;

}
#tEditorLeft {
padding: 20px 0px;
width: 50vw;

}
#tEditorLeft img {
width: 100%;
margin-left: auto;
margin-right: auto;
display: block;
}
#liveDemo {
  color: black;
  
}

/* Footer Section */
#footerCont {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: black;
  color: white;
}
.footerItem {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.footerItem a {
  text-decoration: none;
  color: white;
}
#footerOne {
  width: 32vw;
}
#footerCont li a {
  padding: 5px;
}